body.contact {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-frame {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

body{
    background-image: url(yess.png);
    background-size: cover;
    height: 100%;
}

.foto {
    background-image: url(image.png);
    width: 14%;
    min-height: 37px;
    background-size: cover;
}

.midden {
    width: 35%;
    height: 90vh;
    background-color: darkgreen;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-top: 100px; */
}

input[type=text], select {
    margin-top: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 10vw;
    background-color: #4CAF50;
    color: white;
   height: 50px;
    margin: 9vw 25vh;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .login{
    padding-top: 10px;
  }